.Faceit {
    width: 90%;
    height: 60px;
    margin: auto;

    margin-top: 10px;
    background: #ff8000;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    width: 100%;
    margin-top: 7%;
}

.logo .cls-1 {
    fill: none;
}
.logo .cls-2 {
    clip-path: url(#clip-path);
}