.Riot {
    width: 90%;
    height: 60px;
    margin: auto;
    padding: 10px;

    cursor: pointer;

    background: #7c0000;
    border-radius: 10px;

    margin-top: 15px;
}

.riot-logo {
    width: 100%;
}

.riot-logo svg {
    fill: #fff;
}