.Twitch {
    width: 90%;
    height: 60px;
    margin: auto;
    padding: 10px;

    cursor: pointer;

    background: #9146ff;
    border-radius: 10px;

    margin-top: 15px;
}

.twitch-logo .cls-1 {
    fill: #fff;
}

.twitch-logo .cls-2 {
    fill: #9146ff;
}